@model List<MilkyProject.WebUI.Dtos.About.ResultAboutDto>
@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Hakkımda </h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Başlık</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Liste Başlık</th>
                            <th scope="col">Liste Açıklama</th>
                            <th scope="col">Liste  Görsel</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.AboutListTitle
                                </td>
                                <td>
                                    @item.AboutListDescription
                                </td>
                                <td>
                                    @item.AboutListIcon
                                </td>
                                <td><a href="/Admin/About/DeleteAbout/@item.AboutId" class="btn btn-warning">Sil</a></td>
                                <td><a href="/Admin/About/UpdateAbout/@item.AboutId" class="btn btn-info">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <br />
        <td><a href="/Admin/About/CreateAbout/" class="btn btn-primary">Yeni Hakkımda Girişi</a></td>
    </div>
</div>
