@model List<MilkyProject.WebUI.Dtos.ResultProductDto>
@{
    Layout = null;
}

<div class="container">
    <br /><br />
    <table>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Eski Fiyat</th>
            <th>Yeni Fiyat</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.productId</td>
                <td>@item.productName</td>
                <td>@item.oldPrice</td>
                <td>@item.newPrice</td>
                <td>@item.status</td>
                <td><a href="/Product/DeleteProduct/@item.productId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.productId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Product/CreateProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>
</div>
